<!doctype html>
<html lang="hu">
    <head>    
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">
        <link rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="favicon/favicon.svg" />
        <link rel="shortcut icon" href="favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="MyWebSite" />
        <link rel="manifest" href="/favicon/manifest.json" />
        <meta name="theme-color" content="#ffffff">
        {% seo %}
        <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="3035143b-9bb6-4679-b9b2-472fdd4ab853" data-blockingmode="auto" type="text/javascript"></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7WNJLK2NN1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7WNJLK2NN1');
        </script>
        <script>
            window.dataLayer = window.dataLayer || [];
        </script>
    </head>
    <body>
        {{ content }}
        <script src="{{ 'js/init.js' | relative_url }}"></script>
        <script src="{{ 'js/page-load.js' | relative_url }}"></script>
    </body> 
</html>